<h1>Residential Sleep Life</h1>
<div class="alert alert-info">
    <p>Sort by: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Whachu looking 4: {{ searchSite }}</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search da Sites" ng-model="searchSite">
        </div>
    </div>
</form>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>
                Date
            </td>
            <td>
                <a href="#" ng-click="sortType = 'Individual'; sortReverse = !sortReverse">
                    <span ng-show="sortType == 'Individual'" class="fa fa-caret-down"></span> Individual
            </td>
            <td>
                Score
            </td>
            <td>
                <a href="#" ng-click="sortType = 'Site'; sortReverse = !sortReverse">
                Site
                <span ng-show="sortType == 'Site'" class="fa fa-caret-down"></span></a>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="currentHome in homes" | orderBy:sortType:sortReverse | searchSite>
            <td>{{ currentHome.Date }}</td>
            <td>{{ currentHome.Individual }}</td>
            <td>{{ currentHome.Score }}</td>
            <td>{{ currentHome.Site }}</td>
        </tr>
    </tbody>
</table>
<!--    <input type="text" ng-model="search" />
    <ul ng-repeat="currentHome in homes | orderByPriority | filter:search">
        <li><a href="{{ key }}">{{ currentHome.Site }}</a></li>
    </ul> -->
<!-- <div id="calendar"> </div> -->
